---
- name: install Ruby development headers
  apt:
    name: ["ruby-all-dev"]
    update_cache: true

- name: add the pulsys user
  user:
    name: pulsys
    shell: /bin/bash
    groups:
      - sudo
    append: yes

- name: set the ownership for the dspace-jruby directory
  file:
    path: "/usr/local/src/dspace-jruby"
    state: directory
    owner: pulsys
    group: pulsys
    recurse: true

- name: Add a GPG key by id from a keyserver
  shell:
    cmd: |
      curl -sSL https://rvm.io/mpapis.asc | gpg --import -
      curl -sSL https://rvm.io/pkuczynski.asc | gpg --import -
    executable: /bin/bash
  become: yes
  become_user: pulsys

- name: install the RVM
  shell:
    cmd: |
      curl -L get.rvm.io | bash -s stable
    executable: /bin/bash
    # creates: /usr/local/rvm
    creates: /home/pulsys/.rvm/scripts/rvm
    ignore_errors: yes
  become: yes
  become_user: pulsys

- name: install JRuby 9.1.7.0
  shell:
    cmd: |
      source ~/.rvm/scripts/rvm
      # source /usr/local/rvm/scripts/rvm
      rvm install jruby-9.1.7.0
      # echo . /usr/local/rvm/scripts/rvm >> ~/.bashrc
      echo . ~/.rvm/scripts/rvm >> ~/.bashrc
      rvm alias create default jruby-9.1.7.0
    executable: /bin/bash
    # creates: /usr/local/rvm/environments/jruby-9.1.7.0
    creates: /home/pulsys/.rvm/environments/jruby-9.1.7.0
  become: yes
  become_user: pulsys

- name: install Bundler
  shell:
    cmd: |
      gem install -v 1.10.6 bundler
    executable: /bin/bash
  become: yes
  become_user: pulsys

