---
- name: install Ruby development headers
  apt:
    name: ["ruby-all-dev"]
    update_cache: true

- name: add the pulsys user
  user:
    name: pulsys
    shell: /bin/bash
    groups:
      - sudo
    append: yes

- name: set the ownership for the dspace-jruby directory
  file:
    path: "/usr/local/src/jruby-projects"
    state: directory
    owner: pulsys
    group: pulsys
    recurse: true

- name: download JRuby
  unarchive:
    src: https://repo1.maven.org/maven2/org/jruby/jruby-dist/9.1.17.0/jruby-dist-9.1.17.0-bin.tar.gz
    dest: /
    remote_src: yes

- name: link to jruby
  file:
    src: /jruby-9.1.17.0/bin/jruby
    dest: /usr/local/bin/jruby
    state: link

- name: link to gem
  file:
    src: "/jruby-9.1.17.0/bin/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    state: link
  loop:
    - gem
    - jgem

- name: install Bundler
  shell:
    cmd: |
      gem install -v 1.16.1 bundler
    executable: /bin/bash

- name: link to bundler
  file:
    src: "/jruby-9.1.17.0/bin/bundle"
    dest: /usr/local/bin/bundle
    state: link

