version: 2.1
jobs:
  test_docker_build:
    working_directory: ~/dspace-development
    docker:
      - image: quay.io/ansible/molecule:3.0.4
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Ensure that the Dockerfile builds
          command: docker build -t jrgriffiniii/dspace-docker-base .
  lint_ansible_roles:
    working_directory: ~/dspace-development
    docker:
      - image: quay.io/ansible/molecule:3.0.4
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Lint Ansible Roles and YAML configuration files
          command: |
            cd ansible
            molecule lint
  test_ansible_roles:
    working_directory: ~/dspace-development
    docker:
      - image: quay.io/ansible/molecule:3.0.4
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Run the Molecule tests for the Ansible Roles
          command: |
            cd ansible
            molecule test
  test_documentation:
    working_directory: ~/dspace-development
    docker:
      - image: circleci/python:3.9.0
    steps:
      - checkout
      - run:
          name: Install the Python dependencies
          command: |
            sudo pip install pipenv
            pipenv install
      - run:
          name: Build the documentation
          command: |
            cd docs
            pipenv run sphinx-build html . _build
      - store_artifacts:
          path: ~/dspace-development/_build
          destination: _build
workflows:
  ci:
    jobs:
      - test_docker_build
      - lint_ansible_roles
      - test_ansible_roles
      - test_documentation
